@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  width: 80vw;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.number {
  height: 30px;
  width: 30px;
  border: 3px solid rgb(190, 190, 190);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(99, 99, 99);
  z-index: 1;
  transition: border 0.8s ease;
}

.move-border{
    position: relative;
    right: 0.4px;
}

.active-border {
    border: 3px solid #00a9ff;
}

.bar {
  height: 5px;
  width: 80px;
  background-color: rgb(190, 190, 190);
  position: relative;
  left: -0.5px;
  transition: background-color 0.8s ease;
}
.active {
    background-color: #00a9ff;
}

.container-buttons {
  display: flex;
  column-gap: 20px;
}

button[disabled]{
    background-color: rgb(190, 190, 190);
}

button{
    padding: 6px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}